.timer {
    display: flex;
flex-basis: 40%;
}
.timer-el {
    order: 1;
    padding-left: 3px;
}
.description {
    flex-basis: 20%;
}
.created{
    flex-basis: 40%;
}
.todo-list li {
    font-size: 14px;
}
.form-control {
    flex-basis: 100%;
}